.comment_section {
  width: 100%;
}

.my_comment_container {
  position: relative;
}

.my_comment {
  width: 60%;
  margin: 2rem 10rem;
  margin-left: 20rem;
  border: none;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-size: 1rem;
}

.bookmark {
  position: absolute;
  top: 2rem;
  right: 0;
  height: 3rem;
  width: 3rem;
  color: white;
  cursor: pointer;
}

.bookmarked {
  color: yellowgreen;
}

.comment_button {
  position: absolute;
  bottom: 3rem;
  right: 27rem;
  height: 3rem;
  background-color: greenyellow;
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  font-size: 1rem;
}

.comment_button:active {
  transform: scale(0.95);
}

.report_icon {
  position: absolute;
  top: 2rem;
  right: 5rem;
  height: 3rem;
  width: 3rem;
  color: white;
  cursor: pointer;
}

.report {
  position: fixed;
  width: 40%;
  height: 20rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f8ff;
  padding: 2rem;
  text-align: center;
  border-radius: 3rem;
  border: 1px solid lightgray;
  background-color: #f4d03f;
  background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
  color: white;
}

.report > div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.report label {
  font-size: 1.5rem;
}

.report p {
  position: absolute;
  top: 0;
  right: 1rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
}

.report textarea {
  border: 1px solid white;
  background: transparent;
  border-radius: 2rem;
  padding: 2rem;
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

.report button {
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  padding: 0.5rem 2rem;
  background: transparent;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 2rem;
}

.report button:hover {
  background-color: #f4d03f;
  background: linear-gradient(180deg, #ff8a05, #f9b331);
}

.multipleInput div :not([id^="react-select-"][id$="-placeholder"]) {
  color: black;
}
