.custom_table {
  width: 100%;
  border: 1px solid gray;
  text-align: center;
  margin-top: 6rem;
}

.admin_header {
  width: 100%;
  text-align: center;
  margin-top: 5rem;
}

.custom_table td {
  border: 1px solid gray;
}

.custom_table th {
  border: 1px solid gray;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
}

.block {
  color: red;
}

.unblock {
  color: green;
}

.trash {
  color: red;
}
