.chat_container {
  width: 100%;
  border: 1px solid black;
  display: flex;
  height: 80vh;
  justify-content: space-around;
}

.chat_container > * {
  border-radius: 2rem;
  background-color: #f0f8ff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

.friend_list {
  width: 28%;
  padding: 2rem 1rem;
}

.message_section {
  width: 40%;
  position: relative;
  padding: 2rem 1rem;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.message_row {
  width: 100%;
  display: flex;
}

.message_row > div {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: min-content;
  max-width: 60%;
}

.message_row img {
  border-radius: 100%;
}

.time {
  font-size: 0.7rem;
}

.fromMe {
  flex-direction: row-reverse;
}

.message {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #f4d03f;
  background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
  color: #ffffff;
  font-weight: bold;
  max-width: 100%;
}

.basic_info {
  width: fit-content;
  max-width: 50%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.send {
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  width: 100%;
  height: 3rem;
  text-align: center;
}

.send input {
  width: 90%;
  height: 100%;
  border: none;
  border-radius: 3rem;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: #ffffff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

.send input:focus {
  border: 1px solid black;
}

.user_info {
  width: 28%;
  text-align: center;
}

.fromMe > div {
  margin-right: 4rem;
}

.convo_link {
  width: 100%;
  height: 4rem;
  overflow: hidden;
  padding: 1rem;
  transition: 0.3s;
  display: flex;
  align-items: center;
}

.convo_link img {
  margin-right: 1rem;
}

.friend_list a {
  text-decoration: none;
}

.convo_link:hover {
  background-color: gray;
  overflow: hidden;
}

.current_chat {
  background-color: lightgray;
}

.unread_count {
  height: 1.3rem;
  width: 1.3rem;
  background-color: red;
  border-radius: 100%;
  color: white;
  text-align: center;
  margin-left: 2rem;
}
