.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 1rem;
}

@media (min-width: 768px) {
  .header {
    padding: 2rem 10%;
  }
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.5rem;
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 1.25rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.logo img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}

.logout {
  text-decoration: none;
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
}

.logout:hover {
  background: linear-gradient(90deg, #ff8a05, #f9b331);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 18px rgba(248, 190, 42, 0.8);
}

.search {
  width: fit-content;
  margin: 2rem auto;
}

.search input {
  width: 20rem;
  height: 3rem;
  border-radius: 2rem;
  padding-left: 1rem;
  font-size: 1rem;
}

.search svg {
  transform: translateX(-2.5rem);
  display: inline-block;
  height: 1rem;
  width: 1rem;
  cursor: pointer;
}

.logged_in_menu {
  display: flex;
  align-items: center;
}

.profile_picture {
  cursor: pointer;
  border-radius: 100%;
  display: inline;
}

.username {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.nav_dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
  height: 15rem;
  position: absolute;
  top: 4rem;
  right: 0;
  width: 15rem;
  border-radius: 1rem;
  overflow: hidden;
  transition: 0.3s;
}

.nav_dropdown li {
  width: 100%;
  text-align: center;
}

.nav_notification {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  height: fit-content;
  max-height: 15rem;
  position: absolute;
  top: 4rem;
  right: 4rem;
  width: 20rem;
  border-radius: 1rem;
  overflow-y: scroll;
  transition: 0.3s;
}

.nav_notification a {
  text-decoration: none;
  color: black;
}

.nav_notification p {
  font-style: italic;
  font-size: 0.8rem;
  text-align: right;
}

.nav_notification li {
  padding: 1rem;
}

.nav_notification li:hover {
  background-color: lightgrey;
}

.notification_icon {
  cursor: pointer;
  font-size: 2rem;
  display: inline-block;
  margin-right: 2rem;
}

.unread {
  border-radius: 100%;
  background-color: red;
  color: white;
  height: 1rem;
  width: 1rem;
  display: inline;
  position: absolute;
  right: 14rem;
  top: 0;
  text-align: center;
}

.unread_noti {
  background-color: lightblue;
}
.hidden {
  height: 0;
}
